<!DOCTYPE html>
<html>
<head>
  <title>GettingStarted</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
	  <%= javascript_include_tag  '//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js' %>
  <![endif]-->
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= javascript_include_tag  '//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js' %>
  
  <!-- load ngmessages -->
  <%= javascript_include_tag  '//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js' %>
  
  <%= csrf_meta_tags %>
</head>

<body class="pace-done" ng-app="Sentinel">
	<div class="pace  pace-inactive"><div data-progress="99" data-progress-text="100%" style="transform: translate3d(100%, 0px, 0px);" class="pace-progress">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
    <div id="wrapper">
        <%= render 'layouts/left' %>

        <div style="min-height: 671px;" id="page-wrapper" class="gray-bg dashbard-1">
			<%= render 'layouts/header' %>

			<!--  Content  -->
           
			<!-- Main Content  -->
			<div class="container">
				<div class="row">
					<ui-view></ui-view>						
				</div>
			</div>

				
			<!--  Content end here  -->

        </div>
       </div>
    </div>
	
    <%= javascript_include_tag 'sentinel', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'menu', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'chart', 'data-turbolinks-track' => true %>
</body>

</html>

</body>
</html>
